###> docker ###
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=example
NGINX_PORT=8080
MYSQL_PORT=3307
LOCAL_USER=1000:1000
###< docker ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=a7865f62ad867612a783513fb7ec86f1
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

###> symfony/mailer ###
# MAILER_DSN=smtp://localhost
###< symfony/mailer ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@mysql:3306/${MYSQL_DATABASE}?serverVersion=5.7
###< doctrine/doctrine-bundle ###