{% extends 'base.html.twig' %}

{% block title %}{% trans %}result.list.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}result.list.name{% endtrans %}</h1>
        </div>
        <div class="col text-md-right">
            <a href="{{ path('processing_form') }}" role="button"
               class="btn badge-primary">{% trans %}result.list.action.new{% endtrans %}</a>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{% trans %}result.list.created_at{% endtrans %}</th>
                    <th scope="col">{% trans %}result.list.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <th scope="row">{{ result.createdAt|date }}</th>
                        <td>
                            <a href="{{ path('result_show', {'resultId': result.id}) }}"
                               class="badge badge-secondary">{% trans %}result.list.action.show{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
